body{
	background-color: whitesmoke;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
a{
	text-decoration:none;
}
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}
  
.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
  
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}
  
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.limpa{
	clear:both;
}

.pagina{
	margin: 0 auto 0 auto;
}

.cabecalho{
	background-color: none;
	align-content:center;
	padding: 10px;
}
.logo_caixa{
	width:80%;
	float:left;
	text-align: left;
	margin-left:10%;
}
.logo_img{
	height: auto;
	max-width: 224px;
}

.menu_caixa{
	width: 10%;
	float:right;
	font-size:30px;
	cursor:pointer;
	text-align: center;
}


.caixas{
	margin-top:100px;
}
.caixa{
	position: relative;
	width:30%;
	float:left;
}
.caixa:first-child{
	margin-left:5%;
}
.img_caixa{
	width: 100%;
	height: 350px;
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}
.caixa_texto{
	top: auto;
	bottom: 0;
	left: auto;
	right: auto;
	position: absolute;
	transition: .5s ease;
	opacity: 0;
	text-align: center;
}
.caixa_texto h2{
	text-transform:uppercase;
}
.caixa_texto p{
	padding:0 15px;
	color:#666;
}
.caixa:hover .img_caixa{
	opacity: 0.3;
}
.caixa:hover .caixa_texto{
	opacity: 1;
}

#rodape{
	text-align:center;
	columns: #000000;
	border-top:1px solid #000000;
	margin-top:100px;
	font-weight:bold;
	padding-top:5px;
}





@media only screen and (max-width: 620px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
    .logo_img{
		visibility: visible;
	}
	.caixa{
		width: 100%;
	}



  }







